/* header {
  position: relative;
  margin: 0 auto;
  width: 53.125em;
  height: 10.625em;
  border: 1px solid black;
} */

/* Kleuren voor de verschillende opleidingen */
.Mediavormgeven {
  color: rgba(228, 004, 040);
}
.CreativeProductie {
  color: rgba(120, 063, 145);
}
.Mediamanagement {
  color: rgba(245, 156, 000);
}
.Redactiemedewerker {
  color: rgba(231, 049, 136);
}
.Mediatechnologie {
  color: rgba(000, 099, 175);
}
.AudiovisueleMedia{
  color: rgba(255, 221, 000);
}
.Podium-enevenemententechniek {
  color: rgba(045, 184, 197);
}
.Bedrijf {
  color: #8fe507;
}
@font-face {
  font-family: 'Nimbus Sans';
  src: url('../fonts/NimbusSan.ttf');
}

* {
  font-family: 'Nimbus Sans', cursive;
}

/* MacBook Pro - 1 */
body {
  position: relative;
  width: 1440px;
  height: 900px;

  background: #FFFFFF;
  background: url(../img/background.svg);
}

/* logo 1 */
.logo {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 35px;
  top: 20px;

}

/* Rectangle 3 */
main {
  position: absolute;
  width: 848px;
  /* height: 640px; */
  left: 296px;
  top: 220px;

  background: #FFFFFF;
  /* border: 1px solid #000000; */
  box-sizing: border-box;
}

/* Rectangle 4 */
header {
  position: absolute;
  width: 848px;
  height: 167px;
  left: 296px;
  top: 30px;

  background: #FFFFFF;
  /* border: 1px solid #000000; */
  box-sizing: border-box;
}

/* Portfoliosite */
h1 {
  position: relative;
  letter-spacing: -1.5px;

  /* font-family: Noto Sans; */
  /* font-style: normal;
  font-weight: normal; */
  font-size: 92px;
  line-height: 8px;
  /* identical to box height */

  color: #000000;
}
a:hover {
  color: #8fe507;
}
a {
  color: rgb(102,102,102);
  text-decoration: none;
}

/* form css */
/* Rectangle 12 */
textarea {
  position: relative;
  width: 750px;
  height: 155px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}

/* Over student */
h3 {
  /* font-family: Noto Sans; */
  /* font-style: normal;
  font-weight: normal; */
  font-size: 22px;
  line-height: 1px;
  letter-spacing: -1.5px;

  color: #000000;
}


/* > Account maken */
h2 {
  position: relative;
  /* width: 292px;
  height: 49px; */

  /* font-family: Noto Sans; */
  /* font-style: normal;
  font-weight: normal; */
  font-size: 28px;
  line-height: 5px;
  letter-spacing: -1.5px;
  /* identical to box height */

  color: #000000;
}

/* Submit knop 7 */
.submit, .inlogveld {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
.submit:hover {
  color: #8fe507;
}
.flex-input {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

form, .userinfo, .project_info {
  margin: 1.5em;
}
.centerAlign {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.about_text {
  min-width: 500px;
  max-width: 100%;
  min-height: 50px;
  height: 100%;
  width: 100%;
}

.projecten {
  min-width: 500px;
  max-width: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.bestanden:hover + .hide {
  display: block;
}

/* Rectangle 7 */
.project {
  width: 750px;
  height: 155px;

  background: #FFFFFF;
  box-sizing: border-box;
}


/* Titel Omschrijving */
.Omschrijving {
  width: 710px;
  height: 130px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}

.bestand {
  display: block;
  width: 200px;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
}
